.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
  padding: 1rem 3rem;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .my-masonry-grid {
    margin-left: -40px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 959px) {
    .my-masonry-grid {
      padding: 1rem 2rem;
    }
  }

@media only screen and (max-width: 600px) {
  .my-masonry-grid {
    padding: 1rem 1rem;
  }
}
